@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--black-300);
    background-color: var(--white-150);
    width: 100%;
}
:root{
    font-size: 10px;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: var(--gray-300);
}
::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--gray-450);
}
p.logo{
    margin-left: 5px;
    font-size: 2.5rem;
}
a,a:visited{
    text-decoration: none;
    color: var(--blue-300);
    transition: .1s linear;
}
a:hover{
    color: var(--blue-500);
}
h3{
    font-size: 2rem;
}
p.dataInfo{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}