@import "../CSS//variables.css";
root{
    --var-100:#fff;
}
body{
    height: 100vh;
    overflow: hidden;
}
.loginCont{
    margin: 100px auto 0px auto;
    text-align: center;
    width: 500px;
    background-color: var(--white-100);
    border-radius: 10px;
    padding: 2rem 0px;
    box-shadow: 0px 0px 5px 1px var(--blue-300);
}
.loginCont__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
}
h4{
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 2rem;
}
form{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.logInput{
    overflow: hidden;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 2px solid var(--gray-100);
    outline: none;
    transition: .1s linear;
}
.logInput:focus{
    border: 2px solid var(--blue-300);
}
.btn{
    background-color: var(--blue-300);
    border: none;
    outline: none;
    color: var(--white-100);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    transition: .1s linear;
}
.btn:hover{
    background-color: var(--blue-400);
    cursor: pointer;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--black-300);
    color: var(--white-100);
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
@media screen and (min-width:1500px){
    .loginCont{
        width: 800px;
    }
    :root{
        font-size: 16px;
    }
}