@import "../CSS//variables.css";
.menuBaner{
    position: sticky;
    top: 0;
    background-color: var(--white-100);
    width: 100%;
    padding: 20px 4%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-200);
    align-items: center;
}
.menuBaner__item{
    display: flex;
    align-items: center;
}
.menuBaner__item i {
    font-size: 3rem;
}
p.userName{
    font-size: 1.8rem;
    margin-left: 10px;
}
.logout{
    font-size: 1.6rem;
    margin-left: 30px;
}