@import "../CSS//variables.css";
.mainCont__info{
    padding-bottom: 30px;
}
.mainCont__info h3{
    margin-bottom: 20px;
}
.infoRow{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    margin-top: 20px;
}
.infoRow__itemh h3{
    padding: 10px 20px;
}
table{
    border-collapse: collapse;
    width: 550px;
}
td,th{
    border: 1px solid var(--gray-450);
    padding: 8px;
    font-size: 1.5rem;
}
th{
    text-align: left;
    background-color: var(--gray-200);
}
.green{
    color:#059e0d
}
.warning{
    color: #d47304;
}
/* Style do div ogloszenie */
.ogloszenie{
    background-color: var(--white-200);
    width: 450px;
    padding: 10px 15px;
}
.ogloszenie a{
    font-size: 1.5rem;
}
p.tytul{
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
p.tresc{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
canvas{
    width: 450px;
    height: 250px;
}
@media screen and (min-width:1679px){
    table{
        width: 600px;
    }
    .ogloszenie,canvas{
        width: 550px;
    }
}
@media screen and (min-width:1870px){
    table{
        width: 680px;
    }
    .ogloszenie,canvas{
        width: 620px;
    }
}