@import "../CSS//variables.css";
.sideMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    background-color: var(--white-100);
    border-right: 1px solid var(--gray-200);
    height: 100%;
    width: 200px;
}
.sideMenu__item i {
    font-size: 2rem;
    margin-right: 10px;
}
.sideMenu a{
    color: var(--black-300);
}
.sideMenu a.sideMenu__item--active{
    color: var(--blue-500);
    background-color: var(--blue-500-t);
}
.sideMenu__item{
    padding: 10px 15px;
    font-size: 1.5rem;
    width: 100%;
}
.sideMenu__item:hover{
    color: var(--blue-500);
    background-color: var(--blue-500-t);
}