@import "../CSS//variables.css";
table{
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 1px solid #212121;
    padding: 5px;
    font-size: 1.5rem;
}
th{
    background-color: var(--gray-200);
}
th.sort_th{
    cursor: pointer;
}
/* Długość komurek */
.longCell{
    width: 20%;
}
.shortCell{
    width: 10%;
}
/* Brak bordera na zewnętrznych komórkach */
.noneLeft{
    border-left: none;
}
.noneRight{
    border-right: none;
}
.noneBottom td{
    border-bottom: none;
}